name: ContinuousIntegration

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  backend-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.14"
      - run: python -m pip install --upgrade pip
      - run: pip install -r backend/requirements.txt
      - run: ruff check backend
      - run: pip install pytest pytest-asyncio
      - run: PYTHONPATH=backend pytest backend

  frontend-tests:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - run: cd frontend && npm install && npm run build

  e2e-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - run: cd infra && docker compose up -d --build --wait
      - run: curl -f http://localhost:3000
      - run: cd infra && docker compose down